.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
  font-family: var(--font-weight-bold);
}

.text-4xl {
  font-size: 2.25rem;
  font-family: var(--font-weight-bold);
}

.text-5xl {
  font-size: 3rem;
  font-family: var(--font-weight-bold);
}

.text-6xl {
  font-size: 3.75rem;
  font-family: var(--font-weight-bold);
}

.text-7xl {
  font-size: 4.5rem;
  font-family: var(--font-weight-extrabold);
}
